
.gamecontainer {
  height: 100%;
  background-image: url("./img/pexels-money.jpg");
  background-size: cover;
  padding: 5rem auto;
}

.flex-vertical {
  padding: 2rem;
  height: calc(100% - 170px);
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.flex-horizontal {
  display: flex;
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.chatbox {
  width: 45rem;
  height: 10rem !important;
}
