
.gamecontainer {
  height: 100%;
  background-image: url("./img/pexels-money.jpg");
  background-size: cover;
  padding: 5rem auto;
}

.flex-vertical {
  padding: 2rem;
  height: calc(100% - 170px);
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.flex-horizontal {
  display: flex;
  justify-content: space-between;
}

.center {
  align-self: center;
  justify-content: center;
}

.chatbox {
  width: 45rem;
  height: 10rem !important;
}

.jimcoin {
  transition: all 0.05s ease-in-out;
  width: 200px;
  height: 200px;
}

.jimcoin:hover {
  width: 250px;
  height: 250px;
  rotate: 6deg;
  cursor: pointer;
}

.jimcoin:active {
  width: 230px;
  height: 230px;
}

.upgrades-row-flex {
  display: flex;
  justify-content: space-between;
}

.buysell-row-flex {
  display: flex;
  justify-content: space-evenly;
}

.buysell-col-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.priceText {
  width: 3.5rem;
  text-align: center;
}

.resourceHeader {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}