
.gamecontainer {
  margin: 5rem auto;
  height: 60vh;
}

.flex-vertical {
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.flex-horizontal {
  display: flex;
  justify-content: space-between;
}

.center {
  justify-content: center;
}
