

.flexi-vertical {
  padding: 2rem;
  height: calc(100% - 170px);
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.flexi-horizontal {
  display: flex;
  justify-content: space-around;
}
