* {
  box-sizing: border-box;
}

.cardsId {
display: inline-flex;
background-color: aqua;

}

html, body, #app, #root {
  height: 100%;
}

.headerCard {
display: inline-block;

}

.navLinks{
display: flex;  
flex-direction: row;  
}

.logo{
  width: 130px;
  height:130px;
}

